.Label {
  margin: 10px 0 5px 0;
  text-transform: capitalize;
}

.Field {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  outline: none;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
}

.Error {
  color: #c22;
  font-weight: 500;
}
