.Modal .Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  pointer-events: none;
}

.Modal .Container .Paper {
  padding: 2rem;
  pointer-events: all;
  min-width: min(600px, 90%);
  max-height: 95vh;
  overflow: auto;
}

